@charset "UTF-8";
/* line 1, ../scss/euv_custom_popup.scss */
.euv-get-scrollbar-width {
  visibility: hidden;
  overflow: scroll;
  position: absolute;
  bottom: 0;
}

/* line 8, ../scss/euv_custom_popup.scss */
.euv-custom-popup {
  display: none;
  /* Когда к попапу добавляется класс active, его display становится block, это может повлиять на отображение того места, где он находился. Поэтому делаем position: absolute; */
  position: absolute;
}
/* line 15, ../scss/euv_custom_popup.scss */
.euv-custom-popup.active {
  display: block;
}
/* line 17, ../scss/euv_custom_popup.scss */
.euv-custom-popup.active .euv-custom-popup__bg {
  display: block;
}
/* line 21, ../scss/euv_custom_popup.scss */
.euv-custom-popup__fixed {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  overflow: hidden;
  width: 100%;
  z-index: 101;
  box-sizing: border-box;
}
/* line 34, ../scss/euv_custom_popup.scss */
.euv-custom-popup__scroll {
  width: 100%;
  height: 100vh;
  padding-right: 100vw;
  overflow-y: scroll;
  box-sizing: content-box;
}
/* line 41, ../scss/euv_custom_popup.scss */
.euv-custom-popup__content {
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 45, ../scss/euv_custom_popup.scss */
.euv-custom-popup__bg {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  opacity: 0.42;
  top: 0;
  left: 0;
  z-index: 100;
}
